%br
%h4.text-center
  Scan the QR code to download
.text-center CCC Prototype Android

.qr_code.text-center
  = image_tag "/qr_code/#{@qr_code_file_name}", width: 400
  %br
  %i or 
  Direct Download
  %br
  = link_to android_downloads_url, android_downloads_path(file: apk_download_filename)